* {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding-bottom: 12px;
}

.calculator {
	background-color: #222;
	border-radius: 5px;
	margin: auto;
	max-width: 300px;
	min-width: 300px;
	padding: 16px;
	text-align: center;
}

.calc-btn {
	background-color: #393939;
	/*border: 0.5px solid #d7d7d7;*/
	border: none;
	color: #d7d7d7;
	font-size: 20px;
	height: 50px;
	margin: 3px 0;
	min-width: 50px;
	padding: none;
	width: 100%;
}

.calc-btn:hover {
	background-color: #222;
	color: #d7d7d7;
	margin: 0px;
	padding: 0;
}

.calc-btn-op {
	height: 50px;
	min-width: 50px;
	width: 100%;
}

.calc-btn-2x {
	height: 50px;
	margin: 4px 0;
	min-width: 125px;
	width: 100%;
}

.calc-display {
	background-color: #fff;
	/*border: 1px solid #ccc;*/
	border-radius: 4px;
	display: inline-block;
	font-weight: normal;
	font-size: 24px;
	height: 50px;
	margin-bottom: 16px;
	padding: 8px 12px;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}

.operator {
	background-color: #3db396;
	border: none;
	color: #d7d7d7;
	font-size: 20px;
	margin: 3px 0;
}

.operator:hover {
	background-color: #2d9e88;
}

.calculate {
	background-color: #ef5350;
	border: none;
	color: #d7d7d7;
	font-size: 20px;
}

.calculate:hover {
	background-color: #db3936;
}