.container {
	max-width: 500px;
/*	border: solid 1px black;*/
}

h1 {
	text-align: center;
}

#inputForm {
	margin-bottom: 24px;
	margin-top: 24px;
	text-align: center;  /*This isn't the best solution, come back to it later*/
}

th, td {
	text-align: center;
}

#error {
	display: none;
}

#output	{
	display: none;
}